{% extends 'index.html' %}
{% block title %} Sign Up  {% endblock title %}
{% load static %}
{% block content %}

<div class="container">
  <form method="POST">
   {% csrf_token %}
   <div class="mb-3">
     <label for="exampleInputEmail1" class="form-label">username</label>
     <input type="text" class="form-control" name="name" aria-describedby="emailHelp" placeholder="username kiriting ...">
     <div id="emailHelp" class="form-text">username kiriting</div>
   </div>
   <div class="mb-3">
     <label for="exampleInputEmail1" class="form-label">parol kiriting</label>
     <input type="password" class="form-control" name="password" aria-describedby="emailHelp" placeholder="parol kiriting ...">
     <div id="emailHelp" class="form-text">faqat parol kiriting</div>
   </div>
   <button type="submit" class="btn btn-primary">Submit</button>
 </form>
</div>

{% endblock %}